---
Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    google-*,
    llvm-*,
    -llvm-include-order,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    -readability-implicit-bool-conversion